*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
span{
    color: #d31515;
}
.container{
  
    height:800px;
    width: 100%;
    background-image:url('../img/WhatsAppp.jpeg');
    
    background-size: cover;
    background-position: center;
}
   
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:black;
    font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    

}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#d31515;
    transition: .4s;
}


.btn{
    background-color: #d31515;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:#254081;
    margin: 11px -18px 13px;
    font-size: 75px;
    font-style: italic;
}
h1:hover{
    transform: scale(1.2);
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    border: 4px solid #370a0f;
    width: 300px;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
   
}
.button{
    float: right;
    top: 50%;
    left: 8%;
    transform: translateY(-117%);
 
}
img{
    height: 59px;
    width: 59px;
    display: block;
    padding-left: 2px;
}
.id{
    border: 2px solid black;
    width: 245px;
}
footer{
    display:inline-block;
}

footer p{
    border:2px solid black;
    width: 394px;
    padding: 4px;
    margin: 2px;
}
footer p:hover{
    color:rgba(13, 128, 28, 0.815);
}
footer span img{
    height: 49px;
    width: 49px;
    padding-left: 2px;
    padding-top: 2px;
   /* top: 50%;
    left: 50%;
    float: right;*/
}
footer div img{
    height: 50px;
    width: 50px;
    padding-left: 2px;
}
.boxx{
    display: inline-block;
    width: 250px;
    height:50px;
}
.box{
    float: right;
}
.tt{
    padding-top: 4px;
    width: 180px;
}
.glass{
    display: inline-block;
    width: 50%;
    height: 50px;
}
.glas{
    float: right;
}
.ii{
    width: 180px;
}
.br{
    position: fixed;
    right: 0px;
    bottom: 21px;
    border: 2px solid transparent;
    color: white;
    background-color: red;
    font-weight: bold;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    transition: transform .4s;
    text-align: center;
}
.br:hover{
    transform: scale(1.2);
}