*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
#about{
    background-color: black;
}
#contact{
    background-color: black;
}
.spotify{
    background-color: black;
    color: white;
    font-weight: bold;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("../img1/bgg.jpeg");
    background-size: cover;
    background-position: center;
}
   
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 40px;
}
.logo{
    color:white;
    font-size: 45px;
     letter-spacing: 1px;
     cursor: pointer;
}
nav ul li{
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin-right: 120px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}


span{
    color: #ff004f;
}

.header-text{
    margin-top: 20%;
    font-size: 40px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

/*--------------about---------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 img{
    width: 100%;
    height: 677px;
    border-radius: 15px;
}
.about-col-1{
flex-basis: 35%;
}
.about-col-2{
  flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
     width: 50%;
}
.tab-contents ul li{
    margin: 10px 0;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-------------------contact---------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
margin-top: 30px;
}
.contact-left p i{
    color: red;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form{
width: 100%;
}
form input,form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    margin-right: 5px;
}
.btn.btn2{
    display: inline-block;
    background: red;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

img.track {
    border: 1px solid #8a8a8a;
}

